# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log

# Environment
.env

# Static & Media
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db